<%= render 'header_user'%>

<h1>Public::PublicCartItems#index</h1>
<p>Find me in app/views/public/public_cart_items/index.html.erb</p>

<h1>カート内容</h1>

<table>
		<thead>
			<tr>
				<th>ジャケット画像</th>
				<th>シングル/アルバム名</th>
				<th>価格</th>
        <th>数量</th>
        <th></th>
			</tr>
		</thead>
		<tbody>
		    <% @cart_item.products.each do |product| %>
          <tr>
            <td>
              <%= attachment_image_tag product,:jacket_image,fallback:"no_image.jpg",size:"40x40" %>
            </td>
            <td><%= product.product_name %></td>
            <td><%= product.pre_tax_price %></td>
            <td><%= product.count %></td>
            <td><%= link_to public_public_cart_item_path(product),method: :delete %></td>
          </tr>
		    <% end %>
		</tbody>
	</table>
<% end %>

<%= link_to public_public_deliveries_path do %>
  <button type="button" class="btn btn-success">購入</button>
<% end %>

  