<h1>Public::PublicCartItems#index</h1>
<p>Find me in app/views/public/public_cart_items/index.html.erb</p>

<h1>カート内容</h1>

<table>
		<thead>
			<tr>
				<th>ジャケット画像</th>
				<th>シングル/アルバム名</th>
				<th>価格</th>
        <th>数量</th>
        <th></th>
			</tr>
		</thead>
		<tbody>
		    <% @cart_item.each do |cart| %>
          <tr>
            <td>
              <%= attachment_image_tag cart.product.jacket_image,:jacket_image,fallback:"no_image.jpg",size:"40x40" %>
            </td>
            <td><%= cart.product.product_name %></td>
            <td><%= cart.product.pre_tax_price %></td>
            <td><%= cart.quantity %></td>
            <td><%= link_to public_public_cart_item_path(cart.product),method: :delete %></td>
          </tr>
		    <% end %>
		</tbody>
</table>


<%= link_to public_public_user_public_deliveries_path(current_public) do %>
  <button type="button" class="btn btn-success">購入</button>
<% end %>