<h1>FrenDisk</h1>
  
<% if public_signed_in? %>
  <%# <% search_form_for @q,%> 
  <%= link_to "cart_item", public_public_cart_items_path %>
  <%= link_to "マイページ",public_public_user_path(current_public.id) %>
  <%= link_to "log out",destroy_public_session_path, method: :delete %>

<% else %>


  <%# <%= link_to "TOP"%> 
  <%= link_to "sign up", new_public_registration_path %>
  <%= link_to "log in", new_public_session%>
<% end %>