<h1>Public::PublicUsers#confirm</h1>
<p>Find me in app/views/public/public_users/confirm.html.erb</p>
<%= form_for( @public, url: public_registration_path, method: :delete) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "退会確定" %>
  </div>
<% end %>