<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class=text-center>退会手続き</h1>
      <div>
        <p class="alert alert-danger text-center">
          本当に退会してもよろしいでしょうか？<br>
          (アカウントが削除されます)
        </p>
      </div>
    </div>
  </div>

  <%= form_for( @public, url: public_registration_path, method: :delete) do |f| %>
  <div class="row">
    <%# ラベル部分 %>
    <div class="col-md-6">
      <div>
        <h3 class="text-right">
          <%= f.label :"メールアドレス" %>
        </h3>
      </div>
      <div>
        <h3 class="text-right">
          <%= f.label :"パスワード" %>
        </h3>
      </div>
    </div>

    <%# フォーム部分 %>
    <div class="col-md-6">
      <%# メールアドレス %>
      <div>
        <h3 class="text-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </h3>
      </div>

      <%# パスワード %>
      <div>
        <h3 class="text-left">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </h3>
      </div>
    </div>
  </div>

  <h3 class="text-center">
    <%= f.submit "退会確定", class: "btn btn-lg btn-danger", "data-confirm" => "本当に退会しますか？" %>
  </h3>
  <% end %>
</div>