<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1 class="text-center">編集画面</h1>
      <% if @public.errors.any? %>
        <div class="error_explanation">
          <h2><%= @public.errors.count %>件エラーが発生しました</h2>
            <ul>
              <% @public.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
</div>

  
  <%= form_for @public, url: public_public_user_path(@public) do |f| %> 
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">
        <%= f.label :"名前(姓)" %>
        <%= f.text_field :end_user_last_name, autocomplete: "name" %>
      </h3>
      <h3 class="text-center">
        <%= f.label :"名前(セイ)" %>
        <%= f.text_field :end_user_last_kana, autocomplete: "name" %>
      </h3>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">
        <%= f.label :"名前(名)" %>
        <%= f.text_field :end_user_first_name, autocomplete: "name" %>
      </h3>
      <h3 class="text-center">
        <%= f.label :"名前(メイ)" %>
        <%= f.text_field :end_user_first_kana, autocomplete: "name" %>
      </h3>
    </div>
  </div>
  <div class ="row">
    <div class="col-md-12">
      <h3 class="text-center">
        <%= f.label :郵便番号 %>
        <%= f.text_field :zip, autofocus: true, autocomplete: "zip", placeholder: "〒", size: "41x10" %>
      </h3>
      <h3 class="text-center">
        <%= f.label :住所 %>
        <%= f.text_area :address, autofocus: true, autocomplete: "address", size: "40x10" %>
      </h3>
      <h3 class="text-center">
        <%= f.label :電話番号 %>
        <%= f.text_field :end_user_phone, autofocus: true, autocomplete: "end_user_phone", size: "41x10" %>
      </h3>
      <h3 class="text-center">
        <%= f.label :メールアドレス %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", size: "35.5x10" %>
      </h3>
      <h3 class="text-center">
        <%= f.submit "更新する", class: "btn btn-lg btn-success" %>
      </h3>
    </div>
  </div>
  <% end %>
</div>