
 <div class="col-md-12">
    <h1 class="text-center">プロフィール</h1>
      
</div>


<div class="row">
    <div class="col-md-8">
      <h4 class="text-center">
        <mark class="bg-info">詳細情報</mark>
      </h4>
      <h3 class="text-center">名前：
        <%= @public.end_user_last_name + " " + @public.end_user_first_name %>
      </h3>
      <h3 class="text-center">名前(セイ)：
        <%= @public.end_user_last_kana + " " + @public.end_user_first_kana %>
      </h3>
      <h3 class="text-center">郵便番号:
        <%= @public.zip %>
      </h3>
      <h3 class="text-center">住所：
        <%= @public.address %>
      </h3>
      <h3 class="text-center">電話番号：
        <%= @public.end_user_phone %>
      </h3>
      <h3 class="text-center">メールアドレス：
        <%= @public.email %>
      </h3>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">
        <%= link_to "退会",public_public_users_confirm_path, class: "btn btn-lg btn-danger" %>
      </h3>
      <h3 class="text-center">
        <%= link_to "編集", edit_public_public_user_path(@public), class: "btn btn-lg btn-success" %>
      </h3>
      <h1></h1>
     </div>

  </div>
  <div class="line"></div>
</div>




<table class="table table-striped">
		<thead>
			<tr>
				<th>受注日</th>
				<th>住所</th>
				<th>合計金額</th>
        <th>配送状態</th>
        <th></th>
			</tr>
		</thead>
		<tbody>
		    <% @order.each do |order| %> 
          <tr>
            <td><%= order.created_at %></td>
            <td><%= order.address %></td>
            <td><%= order.total_price %></td>
            <td><%= order.delivery_status %> </td>
            <td>
              <%= link_to "詳細", public_public_order_path(order) %> 
            </td>
          </tr>
		    <% end %>
		</tbody>
</table>



