
<h1>Public::PublicUsers#show</h1>
<p>Find me in app/views/public/public_users/show.html.erb</p>

<h1>プロフィール</h1>

<%= @user.user_last_name %>
<%= @user.user_first_name %>
<%= @user.user_last_kana %>
<%= @user.user_first_kana %>
<%= @user.zip %>
<%= @user.address %>
<%= @user.uesr_phone %>
<%= @user.user.email %>

<%= @user.order.each do |order| %>
  <%= order.crreated_at %>
  <%= order.address %>
  <%= order.total_price %>
  <%= order.delivery_status %>
  <%= link_to public_orders_result_path(order) %>
<% end %>

<%= link_to "退会",public_registration_path, method: :delete %>


