<div class="main-visual">

<h1>プロフィール</h1>
<h3>名前(姓)</h3>
<%= @public.end_user_last_name %>
<br>
<h3>名前(名)</h3>
<%= @public.end_user_first_name %>
<br>
<h3>名前(カナ)</h3>
<%= @public.end_user_last_kana %>
<br>
<h3>名前(カナ)</h3>
<%= @public.end_user_first_kana %>
<br>
<h3>郵便番号</h3>
<%= @public.zip %>
<br>
<h3>住所</h3>
<%= @public.address %>
<br>
<h3>電話番号</h3>
<%= @public.end_user_phone %>
<br>
<h3>メールアドレス</h3>
<%= @public.email %>

<%= link_to "log out",destroy_public_session_path, method: :delete %>
</div>

 
    
   
    
   
   

<table class="table table-striped">
		<thead>
			<tr>
				<th>受注日</th>
				<th>住所</th>
				<th>合計金額</th>
        <th>配送状態</th>
        <th></th>
			</tr>
		</thead>
		<tbody>
		    <% @order.each do |order| %> 
          <tr>
            <td><%= order.created_at %></td>
            <td><%= order.address %></td>
            <td><%= order.total_price %></td>
            <td><%= order.delivery_status %> </td>
            <td>
              <%= link_to "詳細", public_public_order_path(order) %> 
            </td>
          </tr>
		    <% end %>
		</tbody>
	</table>







<br>

<%= link_to "退会",public_public_users_confirm_path %>
<br>
<%= link_to "アカウント編集", edit_public_public_user_path(@public) %>


  <%= link_to "cart_item",  public_public_user_public_cart_items_path(current_public) %>
