<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">ログイン</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <h3 class="text-center">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </h3>
      </div>

      <div class="field">
        <h3 class="text-center">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </h3>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <h5 class="text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :パスワードを忘れた方はこちら %>
        </h5>
      </div>
      <% end %>

      <div class="actions">
        <h3 class="text-center">
          <%= f.submit "ログイン", class: "btn btn-lg btn-warning" %>
        </h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
