<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1 class="text-center">入荷履歴一覧</h1>
      <% if flash[:notice] %>
        <h4 class="alert alert-success text-center"><%= flash[:notice] %></h4>        
      <% end %>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
      
      <div class="text-right">
        <%= link_to "新規商品登録", new_admin_admin_product_path, class: "btn btn-lg btn-default" %>
        <%= link_to "販売商品追加", new_admin_admin_arrival_path, class: "btn btn-lg btn-default" %>
      </div>
      <div class="arrival-search-box text-center">
        <%= form_tag(admin_admin_arrivals_path, method: :get) do %>
          <%= text_field_tag :search, "", placeholder: "商品名で検索" %>
          <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', :name => nil %>
        <% end %>
      </div>

      <h1></h1>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>入荷日</th>
          <th></th>
          <th>入荷商品名</th>
          <th>入荷個数</th>
        </tr>

        <% @arrivals.each do |arrival| %>
          <tr>
            <td><%= attachment_image_tag arrival.product, :jacket_image, size: "50x50", fallback: "no_image.jpg" %></td>
            <td><%= arrival.arrival_date %></td>
            <td></td>
            <td><%= arrival.product.product_name %></td>
            <td><%= arrival.arrival_quantity %>枚</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<h3 class="text-center">
  <%= paginate @arrivals %>
</h3>