<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-box">
        <h1 class="text-center">販売商品追加</h1>
          <div class="line"></div>
          
          <%= form_for(@arrival, url: admin_admin_arrivals_path) do |f| %>

            <%# 登録商品選択 %>
            <h3 class="text-center">登録商品
              <%=  f.collection_select :product_id, Product.all, :id, :product_name, {prompt: "商品を選択"}, class: "mySelect2 form-control" %>
            </h3>

          <%# 入荷日 %>
            <h3 class="text-center">入荷予定日
              <%= f.date_field :arrival_date, value: Time.now.strftime("%Y/%m/%d") %>
            </h3>

          <%# 入荷数 %>
            <h3 class="text-center">入荷数
              <%= f.number_field :arrival_quantity, min: "1", value: "1" %>
            </h3>

            <div class="boxes text-center">
              <%= f.submit "商品を追加", class: "btn btn-lg btn-primary" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>