<h1>Public::PublicProducts#index</h1>
<p>Find me in app/views/public/public_products/index.html.erb</p>

<h2>新規商品</h2>
  <% @new_products.each do |new|%> 
    <%= new.jacket_image_id %> 
    <%= new.product_name %> 
 <% end %> 


<h2>人気TOP3</h2>
  <% @popular_products.each do |popular|　%>
    <%= popular.jacket_image_id %>
    <%= popular.product_name %>
    <%= popular.artist_name%>
    <%= popular.pre_tax_price %>
  <% end %>


<%# 商品一覧 %>
<table>
  <thead>
    <tbody>
        <% @products.each do |product|%>
          <tr>
            <th>
              <%= link_to public_public_product_path(product) do %>
                <%= attachment_image_tag product.jacket_image_id,:profile_image,fallback:"no_image.jpg",size:"40x40" %>
              <% end %>
            </th>
            <th><%= product.product_name %></th>
            <th><%= product.artist_name %></th>
            <th><%= product.pre_tax_price %></th>
          </tr>
         <% end %>
    </tbody>
  </thead>
</table>