<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag @product, :jacket_image,fallback:"no_image.jpg",size:"450x450" %>
    </div>

    <div class="col-md-4">
      <h2 class="text-center"><%= @product.product_name %></h2>
      <h1></h1>
      <h4>アーティスト名：<%= @product.artist.artist_name %></h4>
      <h4>レーベル名：<%= @product.label.label_name %></h4>
      <h4>ジャンル：<%= @product.genre.genre_name %></h4>
      <h4>発売日：<%= @product.release_date %></h4>
      <h4>価格：¥ <%= @product.pre_tax_price %></h4>
      <h4>在庫数：<%= @stock %>枚</h4>
      <h4>ステータス：
        <% if @stock > 0 %>
          販売中
        <% else %>
          在庫切れ
        <% end %>
      </h3>

      <%= form_for(@cart_item, url: public_public_product_public_cart_items_path(@product), html: {method: "post"}) do |f| %>
      <div>
        <%= f.label :"個数:" %>
        <%= f.number_field :quantity, min:1, placeholder: "個" %>
      </div>
      <h4 class="flash-message text-center"><%= flash.now[:product] %></h4>
        <div class="text-center">
          <%= f.submit "カートに入れる", class: "btn btn-md btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-2">
      <h3>曲名</h3>
        <% @product.disks.each do |disk| %>
          <div class="row">
            <h4><%= disk.disk_numbre %>枚目</h4>
            <% disk.songs.each do |song| %>
              <h4>・<%= song.song_title %></h4>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>

  

