
<div class="col-md-12">
      <h1 class="text-center">いいねランキング</h1>
</div>
<table class="table table-striped">
          <tbody>
            <% @product_ranking.each.with_index(1) do |rank,i| %>
              <tr>
                <th><h1>第<%= i %>位</h1></th>
                <th>
                  <%= link_to public_public_product_path(rank) do %>
                    <%= attachment_image_tag rank, :jacket_image,fallback:"no_image.jpg",size:"100x100" %>
                  <% end %>
                </th>
                <th><h1><%= rank.product_name %></h1></th>
                <th><h4><%= rank.artist.artist_name %></h4></th>
                <th><h4><%= rank.pre_tax_price %>円</h4></th>
                <th><h4><%= rank.favorites.count %>いいね</h4></th>
              </tr>
          </tbody>
        <% end %>
</table>


<div class="text-center">
  <%= link_to "商品一覧へ",public_public_products_path , class:"btn btn-lg btn-success" %>
</div>