<h1 class="br text-center">店舗管理</h1>

<%= form_for(@charge,url: admin_admin_charges_path )do |f| %>
	<h4 class="flash-message text-center"><%= flash.now[:charge] %></h4>
	<h1></h1>

  <%# 送料 %>
  <div>
	  <h3 class="text-center">
		  <%= f.label :"送料" %>
		  <%= f.number_field :charge, min:1 ,placeholder: "配送料" %>
		</h3>
	</div>

	<%# 消費税率 %>
	<div>
	  <h3 class="text-center">
		  <%= f.label :"消費税率" %>
		  <%= f.text_field :tax_rate, placeholder: "消費税率" %>
		</h3>
	</div>

	<div>
	  <h3 class="buto text-center">
      <%= f.submit "更新する", class: "btn btn-lg btn-primary" %>
		</h3>
	</div>

<% end %>
