<h1>Public::PublicOrders#confirm</h1>
<p>Find me in app/views/public/public_orders/confirm.html.erb</p>

<h2>この御注文で確定しますか？<br>一度、決定しますと注文が取り消せないです。</h2>

<% @deliverie.each do |deliverie| %>
  <%= deliverie.address_name %>
  <%= deliverie.address %>
  <%= deliverie.zip %>
<% end %>

<h2>お支払い方法</h2>
<%= @order.payment_method %>
  

<h2>注文内容</h2>
<% @cart_item.products.each do |product| %>
  <%= attachment_image_tag product.jacket_image_id,:profile_image,fallback:"no_image.jpg",size:"40x40" %>
  <%= product.product_name %>
  <%= product.pre_tax_price %>
<% end %>

<h2>料金</h2>
  <h3>商品の小計：</h3><%= @total_price %>
  <h3>送料・手数料：</h3><%= @delivery_charge %>
  <h3>消費税：</h3><%= @tax_rate　%>
  <h3>ご請求額：</h3><%= @payment %>

<%= form_for(@order url:public_public_orders_path )%>
　<%= f.submit "購入",class:"btn btn-primary" %>
<% end %>