
<% if flash[:notice] %>
  <div class="flash">
  	<%= flash[:notice] %>
  </div>
<% end %>
<div class="col-md-6">
  <h2 class="text-center">注文内容</h2>
  <div class="text-center">
    <h3>商品の総計：<%= @total_price %>円</h3>
    <h3>消費税額：<%= @payment - @total_price - @charge.charge %>円</h3>
    <h3>送料：<%= @charge.charge %>円</h3>
    <p>------------------------------------------------------</p>
    <h3>ご請求額：<%= @payment %>円</h3>
  </div>
</div>

<div class="col-md-6">
  <div class="text-center">
    <%= form_tag(public_public_orders_confirm_path ,method: :get) do %>
      <%= hidden_field_tag :id, @delivery.id %>
      <h2>お支払い方法</h2>
      <h3>
        <%= radio_button_tag :payment_method, 0 %>代引き
        <%= radio_button_tag :payment_method, 1 %>銀行振込
        <%= radio_button_tag :payment_method, 2 %>クレジットカード
      </h3>
      <%= submit_tag "支払い確認",class:"btn btn-primary" %>
    <% end %>
  </div>
</div>