
<div class="text-center">
  <h1>顧客購入情報</h1>
  <h3>購入日:<%= @order.created_at %></h3>
  <h3>宛先名:<%= @order.address_name %></h3>
  <h3>郵便番号:<%= @order.zip %></h3>
  <h3>お届け先住所:<%= @order.address %></h3>
  <h3>配送ステータス:<%= @order.delivery_status %></h3>
</div>


<h2>購入商品</h2>
<table class="table">
		<thead>
			<tr>
				<th>商品画像</th>
        <th></th>
				<th>商品名</th>
        <th></th>
				<th>個数</th>
        <th></th>
        <th>本体価格</th>
			</tr>
		</thead>
		<tbody>
        <% @order_detail.each do |detail| %>
          <tr>
            <td>
             <%= attachment_image_tag detail.product,:jacket_image,fallback:"no_image.jpg",size:"40x40" %>
            </td>
            <td></td>
            <td><%= detail.product.product_name %></td>
            <td></td>
            <td><%= detail.quantity %></td>
            <td></td>
            <td><%= detail.product.pre_tax_price %></td>
          </tr>
		    <% end %>
          <div class="line"></div>
          <tr>
            <td><h4>商品合計</h4></td>
            <td></td>
            <td><h4>消費税額</h4></td>
            <td></td>
            <td><h4>配送料</h4></td>
            <td></td>
            <td><h4>総計</h4></td>
          </tr>
          <tr>
            <td><%= @order.total_price %></td>
            <td>x</td>
            <td><%= @payment - @order.total_price - @order.delivery_charge %></td>
            <td>+</td>
            <td><%= @order.delivery_charge %></td>
            <td>=</td>
            <td><%= @payment %></td>
          </tr>
		</tbody>
	</table>




