<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="history text-center">購入履歴</h1>
      <h4 class="text-center">
        <mark class="bg-info">購入情報</mark>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="text-right">購入日:</h3>
      <h3 class="text-right">宛先名:</h3>
      <h3 class="text-right">郵便番号:</h3>
      <h3 class="text-right">お届け先住所:</h3>
      <h3 class="text-right">配送ステータス:</h3>
    </div>

    <div class="col-md-6">      
      <h3 class="text-left"><%= @order.created_at %></h3>
      <h3 class="text-left"><%= @order.address_name %></h3>
      <h3 class="text-left">〒 <%= @order.zip %></h3>
      <h3 class="text-left"><%= @order.address %></h3>
      <h3 class="text-left"><%= @order.delivery_status %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="ord text-center">購入商品</h2>
    </div>
  </div>

  <table class="table table-striped">
	  <thead>
		  <tr>
			  <th></th>
        <th></th>
			  <th>商品名</th>
        <th>単価</th>
			  <th>個数</th>
        <th>本体価格</th>
		  </tr>
	  </thead>
  
    <% @order_detail.each do |detail| %>
		  <tbody>
        <tr>
          <td><%= attachment_image_tag detail.product,:jacket_image,fallback:"no_image.jpg",size:"40x40" %></td>
          <td></td>
          <td><%= detail.product.product_name %></td>
          <td>¥ <%= detail.product.pre_tax_price %></td>
          <td><%= detail.quantity %>個</td>
          <td>¥ <%= (detail.product.pre_tax_price * detail.quantity).round(0) %></td>
        </tr>
      </tbody>
	  <% end %>
  </table>
          
  <div class="line"></div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">
        <mark class="charge bg-info">料金</mark>
      </h4>
      <div class="text-center">
        <h4>
          商品合計: ¥ <%= @order.total_price %>
        </h4>
      </div>
      <div class="text-center">
        <h4>
          消費税額: ¥ <%= @payment - @order.total_price - @order.delivery_charge %>
        </h4>
      </div>
      <div class="text-center">
        <h4>
          配送料: ¥ <%= @order.delivery_charge %>
        </h4>
      </div>
      <div class="text-center">
        <h4>
          総計: ¥ <%= @payment %>
        </h4>
      </div>
    </div>
  </div>
</div>