<%= render 'header_login'%>

<h1>Public::PublicDeliveries#edit</h1>
<p>Find me in app/views/public/public_deliveries/edit.html.erb</p>

<h1>配送先住所編集</h1>

<% form_for(@deliverie url:public_public_delivery_path) do |f|%>
    <%= f.label :address_name %>
  <%= f.text_field :address_name %>
    <%= f.label :zip %>
  <%= f.text_field :zip %>
    <%= f.label :address %>
  <%= f.text_area :address %>

  <%= f.submit "更新",class:"btn btn-primary" %>
<% end %>