<h1>Public::PublicDeliveries#index</h1>
<p>Find me in app/views/public/public_deliveries/index.html.erb</p>

<% form_for(@deliverie, url: new_public_public_order_path) do |f| %>
  <%= f.radio_button :public_id, deliverie_id do %>
    <%= deliverie.public.end_user_last_name %>
    <%= deliverie.public.end_user_first_name %>
    <%= deliverie.public.zip %>
    <%= deliverie.public.address %>
  <% end %>
  <% @deliveries.each do |deliverie| %>
    <%= f.radio_button :public_id, deliverie_id %><%= deliverie.address_name %>
    <%= deliverie.zip %>
    <%= deliverie.address %>
    <%= link_to public_public_delivery_path(deliverie) %>
    <%= link_to public_public_delivery_path(deliverie), method: :delete %>
  <% end %>

  <%= f.submit "この住所に届ける",class:"btn btn-primary" %>  
<% end %>

<% form_for(@deliverie, url:public_public_deliveries_path ) do |f| %>
      <%= f.label :address_name %>
    <%= f.text_field :address_name %>
      <%= f.label :zip %>
    <%= f.text_field :zip %>
      <%= f.label :address %>
    <%= f.text_area :address %>
    <%= f.submit "新しい住所を登録する",class:"btn btn-primary" %> 
<% end %>