
<% if flash[:notice] %>
  <div class="flash">
  	<%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag( public_public_user_public_orders_path(current_public),method: :get) do %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>宛先</th>
          <th>郵便番号</th>
          <th>住所</th>
          <th></th>
        </tr>
      <tbody>
          <% @deliveries.each do |delivery| %>
            <tr>
              <td>
                <%= radio_button_tag :id, delivery.id %>
              </td>
              <td><%= delivery.address_name %></td>
              <td><%= delivery.zip %></td>
              <td><%= delivery.address %></td>
              <td>
                <%= link_to edit_public_public_delivery_path(delivery) do%>
                  <button type="button" class="btn btn-default" >編集
                <% end %>
              </td>
              <td>
                <%= link_to public_public_delivery_path(delivery), method: :delete do %>
                  <button type="button" class="btn btn-default" >削除
                <% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
  </table>
  <%= submit_tag "この住所に届ける",class:"btn btn-primary" %>
<% end %>


<%= form_for(@delivery, url:public_public_user_public_deliveries_path(public_id: current_public.id),html: {method: "post"}) do |f| %>
      <%= f.label :address_name %>
    <%= f.text_field :address_name %>
      <%= f.label :zip %>
    <%= f.text_field :zip %>
      <%= f.label :address %>
    <%= f.text_area :address %>
    <%= f.submit "新しい住所を登録する",class:"btn btn-primary" %> 
<% end %>
