<%= render 'header_login'%>

<h1>Public::PublicDeliveries#show</h1>
<p>Find me in app/views/public/public_deliveries/index.html.erb</p>


<%= form_for(@deliverie, url: new_public_public_order_path) do |f| %>
  <% @deliveries.each do |deliverie| %>
    <%= f.radio_button :public_id, deliverie.id %>
      <%= deliverie.address_name %>
      <%= deliverie.zip %>
      <%= deliverie.address %>
      <%= link_to public_public_delivery_path(deliverie) %>
      <%= link_to public_public_delivery_path(deliverie), method: :delete %>
      <%= f.submit "この住所に届ける",class:"btn btn-primary" %>
  <% end %>
<% end %>

<%= form_for(@deliverie, url:public_public_user_public_deliveries_path(public_id: current_public.id),html: {method: "post"}) do |f| %>
      <%= f.label :address_name %>
    <%= f.text_field :address_name %>
      <%= f.label :zip %>
    <%= f.text_field :zip %>
      <%= f.label :address %>
    <%= f.text_area :address %>
    <%= f.submit "新しい住所を登録する",class:"btn btn-primary" %> 
<% end %>